@import 'base';
@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1080px;
    background-image: url(./image/fone-header.jpg);
    background-size: cover;
    padding: 52px 340px 10px 340px;
    align-items: center;

    
    &__navigation-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;

        >i {
            display: none;
        }
    
        li {
            display: flex;
            padding: 9px 9px;
            color: $white;
            @include font(400, 16px, 91%);
            @include cursor;   
        }
        > :nth-child(1) {
            position: relative;
            z-index: 1;
            
        }
        img {
            position: absolute;
            top: -34px;
            left: -4px;
            z-index: -1;
        }
        > :nth-child(2) i {
            margin-left: 5px;
        }
        > :nth-child(5) {
            border: 1px solid $white;
            border-radius: 5px;
        } 
        > :nth-child(5) i {
            margin-right: 8.5px;
        }
        
    }
    &__product {
        position: relative;
    }
    &__products-off {
        display: flex;
        flex-direction: column;
        background-color: $violet;
        width: 199px;
        height: 119px;
        border-radius: 5px;
        position: absolute;
        transition-property: opacity, transform;
        transition-duration: 2s, 0.8s;
        transform: translateY(-60px);
        top: 34px;
        left: 10px;
        opacity: 0;
        z-index: -1;
        @include font(400, 14px, 91%);
        span {
            margin: 0px 8px;
            padding: 8px 0px;
            @include cursor;
        }
        >:nth-child(-n+3) {
            border-bottom: 1px solid $white;
        }
    }
    &__products-on {
        opacity: 1;
        transform: translateY(0px);
        z-index: 1;
    }
    h1 {
        margin-top: 248px;
        color: $white;
        text-align: center;
        @include font(800, 40px, 100%)
    }
    h3 {
        margin-top: 17px;
        color: $white;
        text-align: center;
        @include font(400, 28px, 100%)
    }
    &__combox {
        width: 100%;
        height: 82px;
        background-color: $white;
        margin-top: 43px;
        border-radius: 5px;
        padding: 17px 40px;
        display: flex;
        justify-content: space-between;
        @include font(400, 18px, 100%);
        @include cursor;   

        i {
            color: $violet;
            margin-right: 12px;
        }
    }
    &__place {
        max-width: 360px;
        width: 100%;
        border: none;
        @include font(400, 18px, 91%)
    }
    &__data-from {
        width: 100%;
        max-width: 259px;
        border-left: 1px solid $violet;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__data-until {
        width: 100%;
        max-width: 259px;
        border-left: 1px solid $violet;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    &__num-people {
        width: 280px;
        height: 100%;
        border-left: 1px solid $violet;
        padding-left: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__set-num-people {
        position: relative;
    }
    &__set-num-off {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: $white;
        width: 321px;
        height: 204px;
        border-radius: 5px;
        position: absolute;
        transition-property: opacity, transform;
        transition-duration: 1s, 0.8s;
        transform: translateY(-60px);
        top: 74px;
        left: 0px;
        opacity: 0;
        z-index: -1;
        padding: 20px 39px;
        cursor: default;
        
        p {
            @include font(300, 16px, 100%);
            color: $black;
            cursor: default;
        }
        span {
            @include font(300, 10px, 100%);
            color: rgba(195, 194, 197, 1);
            cursor: default;
        }
        >:nth-child(-n+3) {
            margin-bottom: 12px;
        }
    }
    &__set {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info-line {
        display: flex;
        flex-direction: column;
    }
    &__set-console {
        padding: 2px 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 87px;
        height: 32px;        
        border: 1px solid $black;
        border-radius: 5px;
        
        i {
            margin: 8px 8px;
            @include cursor;
            color: $black;
        }
    }
    &__set-num-on {
        opacity: 1;
        transform: translateY(0px);
        z-index: 1;
    }

    &__price {
        width: 232px;
        height: 64px;
        background-color: $violet;
        color: $white;
        @include font(800, 18px, 91%);
        border: none;
        border-radius: 5px;
        margin-top: 40px;
        @include cursor;   
    }
}

.main {
    display: flex;
    flex-direction: column;
    padding: 32px 340px 0px 340px;
    overflow-x: hidden;

    &__info {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    &__left {
        display: flex;
        flex-direction: column;
        max-width: 505px;
        h2 {
           @include font(500, 32px, 91%);
           margin-top: 87px;

           span {
            padding: 12px 12px 12px 0px;
            border-right: 0.5px solid $violet;
            border-bottom: 0.5px solid $violet;
           }
        }
        p {
            margin-top: 38px;
            padding-right: 8px;
            color: $black;
            @include font(300, 15px, 170%)
        }
        img {
            width: 399px;
            height: 399px;
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        max-width: 505px;

        img {
            width: 399px;
            height: 399px;
            margin-left: 35px;
        }
        h2 {
            @include font(500, 32px, 91%);
            margin-top: 8px;
 
            span {
             padding: 12px 12px 12px 0px;
             border-right: 0.5px solid $violet;
             border-bottom: 0.5px solid $violet;
            }
         }
         p {
            margin-top: 28px;
            color: $black;
            @include font(300, 15px, 170%);
        }
        > :nth-child(4) {
            margin-left: 20px;
            width: 576px;
            height: 385px;
        }
        > :nth-child(5) {
            margin-top: 63px;
        }
    }
    &__how-buy {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;

        h2 {
            @include font(600, 32px, 91%);
        }
    }
    &__purchase-sequence {
        display: flex;
        justify-content: space-between;
        margin-top: 56px;
        margin-bottom: 150px;
        img {
            margin: 0px 10px;
            width: 295px;
            height: 295px;
            @include cursor;   
        }
    }
    &__countries {
        list-style: none;
        margin-left: -340px;
        width: 100vw;
        position: relative;
        @include font(800, 64px, 91%);
        li {
            margin: 0px 12px;
        }
    }
    &__countries-up {
        position: absolute;
        display: flex;
        padding: 56px 0px;
        border-top: 3px solid $violet;
        border-bottom: 3px solid $violet;
    }
    &__countries-bottom {
        position: absolute;
        top: 176px;
        display: flex;
        padding: 56px 0px;
        border-bottom: 3px solid $violet;
    }
    &__review {
        margin-top: 502px;
        margin-bottom: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            @include font(600, 32px, 91%)
        }
    }
    &__reviews {
        display: flex;
        margin: 48px 0px 16px 0px;
        width: 100%;
        overflow-x: hidden;
        img {
            margin: 0px 10px;
            width: 295px;
            height: 220px;
        }
    }

}
.footer {
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid $violet;
    padding: 32px 340px 65px 340px;

    h3 {
        @include font(600, 14px, 160%);
        margin-bottom: 12px;
    }
    span {
        @include font(400, 14px, 160%);
        margin: 4px 0px;
        @include cursor;   
    }
    &__info, &__products, &__documents, &__connection {
        display: flex;
        flex-direction: column;
    }
    &__title-products, &__title-info, &__title-documents {
        width: 100%;
        display: flex;
        justify-content: space-between;
        > :nth-child(3) {
            display: none;
        }
    }
    &__products-list, &__info-list, &__documents-list {
        display: flex;
        flex-direction: column;
    }
    &__links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 251px;
        margin-left: -15px;
        img {
            width: 32px;
            height: 32px;
            margin: 7px 15px;
            @include cursor;   
        }
    }
    i {
        display: none;
        color: $violet;
    }
}

@media (max-width: 1788px) {
    .header {
        padding: 52px 240px 10px 240px;
    }
    .main {
        padding: 32px 240px 0px 240px;
    }
    .footer {
        padding: 32px 240px 65px 240px;
    }
}
@media (max-width: 1588px) {
    .header {
        padding: 52px 140px 10px 140px;
    }
    .main{
        padding: 32px 140px 0px 140px;
    }
    .footer {
        padding: 32px 140px 65px 140px;
    }
}
@media (max-width: 1388px) {
    .header {
        padding: 52px 80px 10px 80px;
    }
    .main {
        padding: 32px 80px 0px 80px;
        
        &__purchase-sequence {
            img {
                width: 213px;
                height: 213px;
            }
        }
        &__countries {
            @include font(800, 56px, 91%);
            li {
                margin: 0px 24px;
            }
        }
        &__countries-up {
            padding: 32px 0px;
        }
        &__countries-bottom {
            top: 112px;
            padding: 32px 0px;
        }
        &__review {
            margin-top: 352px;
        }
        &__reviews {
            img {
                width: 291px;
                height: 220px;
            }
        }
        
    }
    .footer {
        padding: 32px 80px 65px 80px;
    }
}
@media (max-width: 1288px) {
    .header {
        padding: 52px 40px 10px 40px;
        height: 750px;
        h1 {
            margin-top: 136px;
        }
    }
    .main {
        padding: 32px 40px 0px 40px;

        &__left {
            max-width: 446px;
            h2 {
                @include font(500, 25px, 91%);
                margin-top: 44px;

                span {
                    padding: 8px 8px 8px 0px;
                }
            }
            p {
                margin-top: 16px;
                @include font(300, 14px, 170%)
            }
            img {
                width: 293px;
                height: 293px;
            }
        }
        &__right {
            max-width: 446px;
            img {
                width: 293px;
                height: 293px;
                margin-left: 58px;
            }
            h2 {
                @include font(500, 25px, 91%);
                margin-top: 56px;
                text-align: center;
     
                span {
                 padding: 8px 8px 8px 0px;
                }
             }
             p {
                margin-top: 16px;
                @include font(300, 14px, 170%);
            }
            > :nth-child(4) {
                margin-left: -20px;
                width: 462px;
                height: 309px;
            }
        }
        &__how-buy {
            margin-top: 127px;
        }
        &__purchase-sequence {
            margin-top: 46px;
            margin-bottom: 100px;
        }
    }
    .footer {
        padding: 32px 40px 65px 40px;
    }
}
@media (max-width: 1100px) {
    .header {
        &__place {
            max-width: 188px;
        }
        &__set-num-people {
            width: 100%;
        }
        &__num-people {
            width: 100%;
            padding-left: 24px;
        }
        &__set-num-off {
            display: none;
        }
    }
    .footer {
        flex-wrap: wrap;
        &__connection {
            margin-top: 32px;
            flex-direction: row;
            align-items: center;
            h3 {
                margin-top: 10px;
            }
        }
        &__links {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 470px;
            margin-left: 16px;
            img {
                margin: 7px 12px;
            }
        }
    }
}
@media (max-width: 955px) {
    .header {
        height: 438px;
        &__navigation-bar {
            li {
                @include font(400, 14px, 91%)  
            }
        }
        h1 {
            margin-top: 80px;
            @include font(800, 24px, 100%)
        }
        h3 {
            margin-top: 16px;
            @include font(400, 16px, 100%)
        }
        &__combox {
            margin-top: 34px;
            @include font(400, 16px, 100%)
        }
        &__price {
            width: 204px;
            height: 46px;
            @include font(800, 15px, 91%);
            margin-top: 24px;
        }
    }
    .main {
        &__left {
            img{
                width: 249px;
                height: 249px;
            }
        }
        &__right {
            img{
                width: 249px;
                height: 249px;
            }
            > :nth-child(4) {
                margin-left: 0px;
                width: 292px;
                height: 196px;
            }
            > :nth-child(5) {
                margin-top: 48px;
            }
        }
        &__how-buy {
            margin-top: 80px;
    
            h2 {
                @include font(600, 24px, 91%);
            }
        }
        &__purchase-sequence {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 88px;
            img {
                margin: 10px 10px;
            }
        }
        &__countries {
            @include font(800, 40px, 91%);
            li {
                margin: 0px 20px;
            }
        }
        &__countries-up {
            padding: 24px 0px;
        }
        &__countries-bottom {
            top: 96px;
            padding: 24px 0px;
        }
        &__review {
            margin-top: 260px;
            h2 {
                @include font(600, 20px, 91%)
            }
        }
    }
}
@media (max-width: 793px) {
    .header {
        padding: 38px 20px 10px 20px;
        &__navigation-bar {
            >i {
                display: flex;
                color: $white;
                font-size: 30px;
            }
            >:nth-child(2), :nth-child(3), :nth-child(4),:nth-child(5) {
                display: none;
            }
        }
        &__combox {
            height: 57px;
            margin-top: 24px;
            padding: 12px 14px;
        }
        &__place {
            width: 130;
        }
        &__num-people {
            padding-left: 10px;
        }
    }
    .main {
        &__purchase-sequence {
            margin-bottom: 64px;
        }
    }
    .footer {
        flex-direction: column;
        i {
            display: flex;
        }
        &__info, &__products, &__documents {
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            margin: 12px 0px;
        }
        &__title-info-on, &__title-products-on, &__title-documents-on {
            > :nth-child(2) {
                display: none;
            }
            > :nth-child(3) {
                display: flex;
            }
        }
        &__products-list, &__info-list, &__documents-list {
            display: none;
        }
        &__products-list-on {
            display: flex;
            flex-direction: column;
        }
        &__info-list-on {
            display: flex;
            flex-direction: column;
        }
        &__documents-list-on {
            display: flex;
            flex-direction: column;
        }
        &__connection {
            margin-left: -15px;
            margin-top: 24px;
            flex-direction: column;
            align-items: baseline;
            h3 {
                padding-left: 15px;
            }
        }
        &__links {
            width: 251px;
            margin-left: -15px;
            img {
                margin: 7px 15px;
            }
        }
    }
}
@media (max-width: 572px) {
    .main {
        padding: 5px 15px;
        &__info {
            flex-direction: column;
            align-items: center;
        }
        &__left, &__right {
            align-items: center;   
        }
        &__right {
            flex-direction: column-reverse;
        }
    }
}
@media (max-width: 560px) {
    .header{
        height: 455px;
        h1{
            margin-top: 40px;
        }
        &__combox {
            height: 160px;
            flex-wrap: wrap;
            flex: 1;
            justify-content: space-around;
        }
        &__place {
            max-width: 520px;
            width: 100%;
            background-color: $pink;
            border-radius: 5px;
            padding: 0px 8px;

        }
        &__data-from, &__data-until {
            border: none;
            max-width: 200px;
            flex: 1;
            background-color: $pink;
            border-radius: 5px;
            margin: 16px 3px;
        }
        &__num-people {
            background-color: $pink;
            border-radius: 5px;
        }
        &__set-num-off {
            display: flex;
        }
    }
}